.inner-cover{
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 600px;
    background-color: tomato;
    margin-bottom: 20px;
}
.cover-heading{
    padding-top: 250px ;
}