
<app-header></app-header>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center box-1">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal heading-1">Set your ideas in motion.</h1>
      <p class="lead font-weight-normal">If you have a story to tell, knowledge to share, or a perspective to offer welcome home. 
        It’s easy and free to post your thinking on any topic, whether it’s a standalone piece, a blog, or a publication with other writers</p>
        <a class="btn btn-danger" href="register" role="button">Register Now</a>
    </div>
    
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden box-2">
      <div class="my-3 py-3">
        <h2 class="display-5">Share your ideas.</h2>
        <p class="lead">Write about what matters to you, and give form to anything from a quick thought to a long story.</p>
      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center box-3">
      <div class="my-3 p-3">
        <h2 class="display-5">Build an audience.</h2>
        <p class="lead">Find and engage with readers who care about what you have to say — and want to read more of it.</p>
      </div>
    </div>
  </div>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

    <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden box-4" 
    style="text-align: center; margin-left: 15px; margin-right: 20px; justify-content: space-evenly;">
    <h1 style=" font-family:  Times, 'Times New Roman', serif; font-weight: bolder; margin-top:40px ;">Stand out
      with built-in features.
    </h1></div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Create a personalized home for your thinking.
        </h2>
        <p class="lead">With blogs, publications, and newsletters, you have different ways to style and share your stories.</p>
      </div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Find and connect with readers. Follow your passion.</h2>
        <p class="lead">Responses, emails, and stats give you the chance to reach new readers and build deeper relationships.</p>
      </div>
    </div>
  </div>

  <div class="test-head mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" 
  style="text-align: center; margin-left: 15px; margin-right: 20px;">
  <h1 style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder ; padding-bottom: 0px;">Why I publish on Medium.
  </h1></div>

  <div class="bg-black d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-aqua mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Mugen is the Best.</h2>
        <p class="lead">"I wrote for a very small audience for a very long time,
           but Mugen has helped me reach millions of people throughout the world whom I would never have reached otherwise."
           an even wittier subheading."</p>
           <p style="margin-left: 300px;">-Might Guy</p>
      </div>
    </div>
    <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Best Blog Ever</h2>
        <p class="lead">"The emphasis on people rather than ads makes Mugen unique. This helps writers present their original ideas uninterrupted and offers readers a clean reading experience."
        </p> <p style="margin-left: 300px;">-Itachi Uchiha</p>
      </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
