<!DOCTYPE html>
<html lang="en">
  <app-header></app-header>
<body class="body">
    <div class="container marketing">

        <div class="row featurette-1">
          <div class="col order-md-2">
            <h1 class="featurette-heading">Where good ideas find you..</h1>
            <br><br>
            <p class="lead">Read and share new perspectives on just about any topic. Everyone’s welcome. <a href="about-us">Learn more</a>.</p>
            <br><br><br><br>
          </div>
          <br><br>
        </div>
       
        <div class="row featurette-2">
          <div class="col order-md-2">
            <h2 class="featurette-heading">A living network of curious minds.
                <br><span class="featurette-heading">Anyone can write on Mugen-BLOG.</span></h2>
               <br><br>    
            <p class="lead">Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. 
                You’ll find pieces by independent writers from around the globe, 
                stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</p>
                <br><br><br><br>
        </div>
        
       </div>
       
        <div class="row featurette-3">
          <div class="col order-md-2">
            <h2 class="featurette-heading">Get more with membership.</h2>
            <br><br>
            <p class="lead">Become a Mugen member to enjoy unlimited access at $1/month and get Premium support themes and blog tools.</p>
            <br>
            <button class="vip-button btn btn-secondary">VIP Subscription</button>
            <br><br><br>
          </div>
       </div>
       </div> 
</body>
</html>
